<mat-toolbar color="primary">
    <div>
        <a routerLink="/">London Underground Test Project</a>
    </div>
    <div class="menu">
        <!-- <a routerLink="/">
            <span class="label">Home</span>
        </a> -->
        <a routerLink="/station">
            <span class="label">Station</span>
        </a>
        <a routerLink="/line">
            <span class="label">Line</span>
        </a>
        <a routerLink="/route">
            <span class="label">Route Planner</span>
        </a>
    </div>    
</mat-toolbar>
