a{
    text-decoration: none;
    color: white;
}
  
a:hover,
a:active {
    color: lightgray;
}

.label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 55%;
}

.menu{
    margin-left: 300px;
}