<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-grid-list cols="4" rowHeight="650px">
    <mat-grid-tile [colspan] = "2" [rowspan] = "1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Routes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <span class="stations" style="margin-left: 30px;">
                        <h4>From Station</h4>
                        <mat-form-field>
                            <input type="text" placeholder="Station" matInput [formControl]="fromStationControl" 
                            [matAutocomplete]="autoFrom" (click)="fromStationClick()">
                            <mat-autocomplete #autoFrom="matAutocomplete">
                                <mat-option *ngFor="let fromStation of filteredFromStations | async" [value]="fromStation.name">
                                    {{fromStation.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </span>
                    <span class="stations" style="margin-left: 100px;">
                        <h4>Destination Station</h4>
                        <mat-form-field>
                            <input type="text" placeholder="Station" matInput [formControl]="toStationControl" 
                            [matAutocomplete]="autoTo" (click)="toStationClick()">
                            <mat-autocomplete #autoTo="matAutocomplete">
                                <mat-option *ngFor="let toStation of filteredToStations | async" [value]="toStation.name">
                                    {{toStation.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="getRoute()"[disabled]="isDisabled" >View Route</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "2" [rowspan] = "1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Route Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>Total Time : {{totalTime}}</div>
                <mat-list>
                    <mat-list-item *ngFor="let step of route; let isLast = last">
                        <div class="stopSpan">
                            <br>
                            <p>{{step.start.name}}</p>
                            <span style="padding-bottom: 10px;">
                                <mat-icon>arrow_downward</mat-icon><span class="aligned-with-icon">{{step.via.line}} , Time: {{step.via.time}}</span>
                            </span>
                            <br>
                            <p *ngIf="isLast">{{step.end.name}}</p>
                            <br>
                        </div>
                    </mat-list-item>
                    <br>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
