.stations{
    display: inline-block;
    /* width: 200px;
    height: 100px; */
}

mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    overflow:auto;
}

.stopSpan{
    display: inline-block;
}

.iconSpan{
    padding-top: 50px;
}

button{
    margin-top: 50px;
    margin-left: 180px;
}

.aligned-with-icon{
    position: absolute;
    /* margin-top: 5px; */
    margin-left: 10px;
}

p{
    width: 300px;
    height: 10px;
}

/* .classp{
    font-weight: bold;
} */